.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 49%;
    overflow-y: scroll;
    height: 90%;

    .fieldContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .inputsContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

}